<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
	<connectionStrings>
		<add name="matrimonialConnectionString" connectionString="Data Source=.;Initial Catalog=matrimonial;User ID=sa;Password=cmc@123" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <pages maintainScrollPositionOnPostBack="true"/>
    <customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
